@import url('"https://fonts.googleapis.com/css2?family=Crimson+Pro"');
*{
    font-family: 'Crimson Pro', sans-serif;
}
html {
    min-width: 100%;
}
body {
    background-color: floralwhite;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: rgb(20, 34, 34);
}
svg{
    background-color: rgb(209, 205, 196);
    padding: 10px;
}
#canvas{
    min-height: 600px;
    min-width: 1200px;
}
#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}
#title{
    font-size: 28px;
    color: rgb(20, 34, 34);
    text-transform: uppercase;
    margin-top: 10x;
    margin-bottom: 10px;
}
#legend{
    color: rgb(20, 34, 34);
    font-size: 18px;
    text-align: center;
    min-height: 150px;
}